<h6 class="text-uppercase font-weight-bold titlte">note</h6>
<div class="write d-flex align-items-start">
  <a class="img-wrapper mix-icon-wrapper d-block mr-1"><img src="/assets/imgs/marker.png" alt="" /></a>
<textarea autosize placeholder="- Ghi lại những khoảnh khắc của bạn">
</textarea>
</div>

<div class="note-list">
  <a class="py-1 d-flex align-items-center">
    <div class="img-wrapper mix-icon-wrapper d-flex align-items-center">
      <img src="/assets/imgs/save.png" alt="" />
    </div>
    <div class="pl-3 topic-title" title="Bộ overlay max chất của somebody">Bộ overlay max chất của somebody</div>
  </a>
  <a class="py-1 d-flex align-items-center">
    <div class="img-wrapper mix-icon-wrapper d-flex align-items-center">
      <img src="/assets/imgs/save.png" alt="" />
    </div>
    <div class="pl-3 topic-title" title="Bộ overlay max chất của somebody">Bộ overlay max chất của somebody</div>
  </a>
  <a class="py-1 d-flex align-items-center">
    <div class="img-wrapper mix-icon-wrapper d-flex align-items-center">
      <img src="/assets/imgs/save.png" alt="" />
    </div>
    <div class="pl-3 topic-title" title="Bộ overlay max chất của somebody">Bộ overlay max chất của somebody</div>
  </a>
  <div class="py-1 align-items-start">
    <div class="img-wrapper mix-icon-wrapper d-inline-block align-items-center align-top">
      <img src="/assets/imgs/notepad.png" alt="" />
    </div>
    <div class="pl-3 font-italic d-inline-block note-text" title="Bộ overlay max chất của somebody">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rhoncus ante vitae nulla convallis cursus. Vestibulumsollicitudin metus quis ante aliquet vestibulum
    </div>
  </div>
  <a class="py-1 d-flex align-items-center">
    <div class="img-wrapper mix-icon-wrapper d-flex align-items-center">
      <img src="/assets/imgs/save.png" alt="" />
    </div>
    <div class="pl-3 topic-title" title="Bộ overlay max chất của somebody">Bộ overlay max chất của somebody</div>
  </a>
  <div class="py-1 align-items-start">
    <div class="img-wrapper mix-icon-wrapper d-inline-block align-items-center align-top">
      <img src="/assets/imgs/notepad.png" alt="" />
    </div>
    <div class="pl-3 font-italic d-inline-block note-text" title="Bộ overlay max chất của somebody">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rhoncus ante vitae nulla convallis cursus. Vestibulumsollicitudin metus quis ante aliquet vestibulum
    </div>
  </div>
</div>
