<div class="user-info d-flex align-items-center">
  <div class="avatar img-wrapper mr-2">
    <img src="/assets/imgs/default_avatar.png" alt="" />
  </div>
  <div class="d-flex">
    <div class="d-flex flex-column border-right pr-4">
      <div class="user-name font-weight-bold">
        Nguyễn Trường Giang <span>(2)</span>
      </div>
      <div class="time font-italic text-left">
        11:30 - 22/12/2017
      </div>
    </div>
    <div class="border-right d-flex align-items-center">
      <a class="img-wrapper icon mx-3">
        <img src="/assets/imgs/share.png" alt="" />
      </a>
    </div>
    <div class="border-right d-flex align-items-center">
      <a class="img-wrapper icon mx-3">
        <img src="/assets/imgs/folder.png" alt="" />
      </a>
    </div>
    <div class="border-right d-flex align-items-center mr-4">
      <a class="img-wrapper icon mx-3">
        <img src="/assets/imgs/trash.png" alt="" />
      </a>
    </div>
  </div>
</div>

<div class="action d-flex">
</div>
