<div class="header py-2 px-3">
  <div>Tạo mới tài liệu</div>
</div>

<form [formGroup]="createPostForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data" class="mix-bg pl-4">
  <mat-dialog-content class="py-4">
    <perfect-scrollbar style="max-height: 65vh" class="pr-4">
      <div class="d-flex">
        <mat-form-field class="w-100">
          <mat-placeholder>
            <a class="d-inline-block img-wrapper icon">
              <img src="/assets/imgs/title-icon.png" alt="" />
            </a>
            Tiêu đề
          </mat-placeholder>
          <input matInput type="text" required="required" formControlName="title" />
        </mat-form-field>
      </div>
      <div class="d-flex">
        <mat-form-field class="w-100">
          <mat-placeholder>
            <a class="d-inline-block img-wrapper icon">
              <img src="/assets/imgs/update.png" alt="" />
            </a>
            Mô tả cho tài liệu của bạn
          </mat-placeholder>
          <textarea matInput autosize formControlName="description" row="1" style="resize: none">
          </textarea>
        </mat-form-field>
      </div>
      <div class="d-flex">
        <mat-form-field class="w-100">
          <mat-placeholder>
            <a class="d-inline-block img-wrapper icon">
              <img src="/assets/imgs/link (1).png" alt="" />
            </a>
            Link tài liệu của bạn
          </mat-placeholder>
          <input type="text" matInput formControlName="documentLink" required="required" />
        </mat-form-field>
      </div>
      <label class="d-flex upload-wrapper" for="documentFile">
        <mat-form-field class="w-100" style="cursor: pointer">
          <mat-placeholder>
            <a class="d-inline-block img-wrapper icon">
              <img src="/assets/imgs/cloud-computing.png" alt="" />
            </a>
            Hoặc upload file
          </mat-placeholder>
          <input type="text" matInput disabled="disabled" />
        </mat-form-field>
        <input type="file" name="" id="documentFile" hidden="hidden" (change)="documentFileChange(documentFile)" #documentFile accept=".pdf, .doc, .docx, .xls, .xlsx" />
      </label>
      <div formArrayName="referDocuments">
        <div *ngFor="let referDocument of createPostForm.controls.referDocuments.controls; let i = index">
          <div [formGroupName]="i">
            <div class="d-flex">
              <div style="margin-right: 5rem">
              </div>
              <div class="d-flex w-100">
                <mat-form-field class="w-100">
                  <mat-placeholder>
                    <a class="d-inline-block img-wrapper icon">
                      <img src="/assets/imgs/link.png" alt="" />
                    </a>
                    Link tài liệu tham khảo
                  </mat-placeholder>
                  <input type="text" matInput formControlName="link" required="required" />
                </mat-form-field>
              </div>
              <a (click)="removeReferDocument(i)">x</a>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <div class="icon img-wrapper" style="cursor: pointer" (click)="addReferDocument()">
            <img src="/assets/imgs/plus-empty.png" alt="" />
          </div>
        </div>
      </div>
      <div>
      <mat-form-field class="example-full-width">
        <mat-placeholder>
          <a class="d-inline-block img-wrapper icon">
            <img src="/assets/imgs/idea.png" alt="" />
          </a>
          Chủ đề
        </mat-placeholder>
        <input type="text" matInput formControlName="topics" [matAutocomplete]="auto" required="required">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let topic of filteredTopics | async" [value]="topic">
            {{ topic.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      </div>
    </perfect-scrollbar>
  </mat-dialog-content>
  <mat-dialog-actions class="justify-content-end mt-3 pr-3">
    <button mat-raised-button (click)="dialog.close()" class="mr-2">Hủy</button>
    <button mat-raised-button class="fbgg-button text-white">Đăng bài</button>
  </mat-dialog-actions>
</form>
