.img-wrapper {
    width: 52px;
    height: 32px;
}

.upload-wrapper {
    i {
        font-size: 30px;
        color: darkcyan;
    }
    input {
        &:disabled {
            cursor: pointer;
        }
    }
}

.header {
    font-size: 20px;
    color: #fff;
    background-color: #3d9e64;
}

.icon {
    width: 22px;
    height: 22px;
}
