<h2 mat-dialog-title>Tạo mới tài liệu</h2>
<form [formGroup]="createPostForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div class="d-flex">
      <div class="img-wrapper mr-4 mt-3">
        <img src="/assets/imgs/title-icon.png" alt="" />
      </div>
      <mat-form-field class="w-100">
        <input matInput type="text" placeholder="Tiêu đề bài viết của bạn là gì?" required="required" formControlName="title" />
      </mat-form-field>
    </div>
    <div class="d-flex">
      <div class="img-wrapper mr-4 mt-3">
        <img src="/assets/imgs/description-icon.png" alt="" />
      </div>
      <mat-form-field class="w-100">
        <textarea matInput autosize placeholder="Mô tả ngắn cho tài liệu của bạn" formControlName="description">
        </textarea>
      </mat-form-field>
    </div>
    <div class="d-flex">
      <div class="img-wrapper mr-4 mt-3">
        <img src="/assets/imgs/blue-document-icon.png" alt="" />
      </div>
      <mat-form-field class="w-100">
        <input type="text" matInput placeholder="Link tài liệu của bạn" formControlName="documentLink" required="required" />
      </mat-form-field>
    </div>
    <div class="d-flex upload-wrapper">
      <div class="img-wrapper mt-3 mr-4" style="cursor: pointer">
        <i class="fa fa-cloud-upload"></i>
      </div>
      <mat-form-field class="w-100" style="cursor: pointer">
        <input type="text" matInput placeholder="hoặc up file" disabled="disabled" />
      </mat-form-field>
    </div>
    <div formArrayName="referDocuments">
      <div *ngFor="let referDocument of createPostForm.controls.referDocuments.controls; let i = index">
        <div [formGroupName]="i">
          <div class="d-flex">
            <div style="margin-right: 5rem">
            </div>
            <div class="d-flex w-100">
              <div class="img-wrapper mt-3 mr-4">
                <img src="/assets/imgs/pink-document-icon.png" alt="" />
              </div>
              <mat-form-field class="w-100">
                <input type="text" matInput placeholder="Tài liệu tham khảo" formControlName="link" required="required" />
              </mat-form-field>
            </div>
            <a (click)="removeReferDocument(i)">x</a>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <div class="mix-icon" style="cursor: pointer" (click)="addReferDocument()">
          <img src="/assets/imgs/add-refer-document-icon.png" alt="" />
        </div>
      </div>
    </div>
    <div>
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Chủ đề" matInput formControlName="topics" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let topic of filteredTopics | async" [value]="topic">
          {{ topic.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="justify-content-end mt-3">
    <button mat-raised-button (click)="dialog.close()" class="mr-2">Hủy</button>
    <button mat-raised-button color="primary">Đăng bài</button>
  </mat-dialog-actions>
</form>
