<div class="aside-container pt-3">
  <a mat-button class="pl-3 mb-4 d-flex" [matMenuTriggerFor]="menu" color="warn">
    <div class="d-flex align-items-center">
      <div class="avatar img-wrapper">
        <a><img [src]="user.avatar ? user.avatar : defaultAvatarPath" alt="" /></a>
      </div>
      <div class="pl-3">{{ user.nickName ? user.nickName : user.name }}</div>
    </div>
  </a>
  
  <mat-menu #menu="matMenu" xPosition="before" color="accent">
    <button mat-menu-item color="accent">
      <mat-icon>account_circle</mat-icon>
      <span>Trang cá nhân</span>
    </button>
    <button mat-menu-item (click)="logout()" color="accent">
      <mat-icon>exit_to_app</mat-icon>
      <span>Đăng xuất</span>
    </button>
  </mat-menu>
  
  <div class="pb-4">
    <a class="pl-4 d-flex" mat-button color="warn" (click)="openCreatePostDialog()">
      <div class="d-flex align-items-center">
        <div class="mix-icon-wrapper img-wrapper d-flex align-items-center">
          <img src="/assets/imgs/edit.png" alt="" />
        </div>
        <div class="pl-3">Viết bài</div>
      </div>
    </a>
    <a class="pl-4 py-1 d-flex align-items-center">
      <div class="mix-icon-wrapper img-wrapper d-flex align-items-center">
        <img src="/assets/imgs/notification.png" alt="" />
      </div>
      <div class="pl-3">15 thông báo</div>
    </a>
    <a class="pl-4 py-1 d-flex align-items-center">
      <div class="mix-icon-wrapper img-wrapper d-flex align-items-center">
        <img src="/assets/imgs/follow-icon.png" alt="" />
      </div>
      <div class="pl-3">3 người theo dõi</div>
    </a>
    <a class="pl-4 py-1 d-flex align-items-center" routerLink="/" routerLinkActive="active">
      <div class="mix-icon-wrapper img-wrapper d-flex align-items-center">
        <img src="/assets/imgs/star-icon.png" alt="" />
      </div>
      <div class="pl-3">Tài liệu mới nhất</div>
    </a>
  </div>
  <div class="posted-documents pb-4">
    <h6 class="pl-4 font-weight-bold"><a>Các tài liệu đã đăng</a></h6>
    <div>
      <a class="pl-4 py-1 d-flex align-items-center">
        <div class="img-wrapper mix-icon-wrapper d-flex align-items-center">
          <img src="/assets/imgs/school-material.png" alt="" />
        </div>
        <div class="pl-3 posted-document-title" title="Các phần mềm ứng dụng trong doanh nghiệp">Các phần mềm ứng dụng trong doanh nghiệp</div>
      </a>
      <a class="pl-4 py-1 d-flex align-items-center">
        <div class="img-wrapper mix-icon-wrapper d-flex align-items-center">
          <img src="/assets/imgs/school-material.png" alt="" />
        </div>
        <div class="pl-3 posted-document-title" title="Các phần mềm ứng dụng trong doanh nghiệp">Các phần mềm ứng dụng trong doanh nghiệp</div>
      </a>
      <a class="pl-4 py-1 d-flex align-items-center">
        <div class="img-wrapper mix-icon-wrapper d-flex align-items-center">
          <img src="/assets/imgs/school-material.png" alt="" />
        </div>
        <div class="pl-3 posted-document-title" title="Các phần mềm ứng dụng trong doanh nghiệp">Các phần mềm ứng dụng trong doanh nghiệp</div>
      </a>
      <a class="pl-4 py-1 d-flex align-items-center">
        <div class="img-wrapper mix-icon-wrapper d-flex align-items-center">
          <img src="/assets/imgs/school-material.png" alt="" />
        </div>
        <div class="pl-3 posted-document-title" title="Các phần mềm ứng dụng trong doanh nghiệp">Các phần mềm ứng dụng trong doanh nghiệp</div>
      </a>
    </div>
  </div>
  <div class="topics-concern pb-4">
    <h6 class="pl-4 font-weight-bold"><a>Các chủ đề quan tâm</a></h6>
    <div>
      <a class="pl-4 py-1 d-flex align-items-center">
        <div class="img-wrapper mix-icon-wrapper d-flex align-items-center">
          <img src="/assets/imgs/internet.png" alt="" />
        </div>
        <div class="pl-3 topic-concern-title" title="Công nghệ thông tin">Công nghệ thông tin</div>
      </a>
      <a class="pl-4 py-1 d-flex align-items-center">
        <div class="img-wrapper mix-icon-wrapper d-flex align-items-center">
          <img src="/assets/imgs/game-controller.png" alt="" />
        </div>
        <div class="pl-3 topic-concern-title" title="Game">Game</div>
      </a>
      <a class="pl-4 py-1 d-flex align-items-center">
        <div class="img-wrapper mix-icon-wrapper d-flex align-items-center">
          <img src="/assets/imgs/painting-palette.png" alt="" />
        </div>
        <div class="pl-3 topic-concern-title" title="Designer">Designer</div>
      </a>
    </div>
  </div>
</div>
